version: "3.9"
services:
  api:
    build: ./api
    ports: ["8000:8000"]
    environment:
      - REDIS_URL=redis://redis:6379/0
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_BUCKET=media
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin12345
      # NUEVO (firma y TTL de enlaces públicos)
      - SHARE_SECRET=change-this-please
      - SHARE_TTL_SECONDS=21600     # 6 horas (ajústalo)
      # (Opcional) si usas túnel / dominio público para el 8000:
      - PUBLIC_BASE_URL=https://tu-subdominio.ngrok-free.app
    depends_on: [redis, minio]
  worker_a:
    build: ./worker
    container_name: worker_a
    environment:
      - REDIS_URL=redis://redis:6379/0
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
      - MINIO_BUCKET=media
      - METRICS_PORT=9101
    depends_on: [redis, minio]
  worker_b:
    build: ./worker
    container_name: worker_b
    environment:
      - REDIS_URL=redis://redis:6379/0
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
      - MINIO_BUCKET=media
      - METRICS_PORT=9102
    depends_on: [redis, minio]
  redis:
    image: redis:7-alpine
    container_name: redis
    ports: ["6379:6379"]
  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin12345
    command: server /data --console-address ":9001"
    ports: ["9000:9000", "9001:9001"]
    volumes:
      - minio_data:/data
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports: ["9100:9100"]
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports: ["9090:9090"]
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports: ["3000:3000"]
    depends_on: [prometheus]
volumes:
  minio_data:
